* {
    /* margin: 0; */
}

body {
    font-family: sans-serif;
}

.App {
    text-align: center;
}

.row{
display: flex;
width: 80%;
margin: 0 auto;
}

.NewConfirmed,
.TotalConfirmed,
.NewDeaths,
.TotalDeaths,
.TotalRecovered{

padding: 20px;
text-align: center;
margin:0 auto;

}

.NewConfirmed{
color:brown;
/* border-bottom: 4px solid red; */

}

