* {
    /* margin: 0; */
}

body {
    font-family: sans-serif;
}

.App {
  /* display: flex;
  justify-content: space-evenly; */
  background-color:#000000;
  padding: 20px;
}

.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app__header > h1 {
  color: #BDBDBD;
  font-size: 2rem;
}

.app__stats {
  /* display: flex; */
  /* justify-content: space-between; */
  margin-right: 1500px;
}

.block_global{
text-align: center;
}

.app__left {
  /* flex: 0.9; */
}
.table {
  margin-top: 20px;
  overflow: scroll;
  color: #222222;
  background-color: #222222;
  height: 500px;
}
.app__right{
  margin-right: 1500px;
   }

.table > h3{
font-size: 14px;
text-align: center;
color:#BDBDBD;
}
.table tr {
  display: flex;
  justify-content: space-between;
}

.table td {
  padding: 0.5rem;
  border: none;
 color:#BDBDBD;
}

strong{
color:#E60000;
}
.block_global > h4{
color: #BDBDBD;
font-size: 18px;
}


/* .table tr:nth-of-type(odd) {
  background-color: red;
}  */



