@import './vars';

.table1 {
  box-sizing: border-box;
  position: relative;
  font-size: 14px;
  width: 200px;

  .table1-content-wrapper {
    width: auto;
    height: 200px;
    color: $text;
    background-color: $table;
    header {
      display: grid;
      align-items: center;
      height: 40px;
      grid-template: 20px 20px 20px /100px 100px;
      grid-template-areas:
        "h h"
        "num1 num2"
        "col1 col2";
    }
    div {
      grid-area: h;
    }
    .num1 {
      grid-area: num1;
    }
    .num2 {
      grid-area: num2;
    }
    .col1 {
      grid-area: col1;
    }
    .col2 {
      grid-area: col2;
    }

// .h{
//    font-size: 13px;
// }

    .death-table-content {
      position: absolute;
      top: 90px;
      height: 140px;
      width: 100%;
      text-align: start;
      overflow: auto;
    }
  }

  footer {
    display: flex;
    color: $text;
    background-color: $table;
    margin: 0 auto;
    width: 160px;
    bottom: 0px;

    span {
      transform: scale(1.4);
    }

    div {
      width: 100px;
      overflow: hidden;
      display: inline-block;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .num {
    display: inline;
    font-size: 1.17em;
    font-weight: bold;
  }

  h3,
  h1,
  h5 {
    margin: 0;
  }

  .row {
    overflow: hidden;
    box-sizing: border-box;
    display: grid;
    height: 41px;
    grid-template: 20px 20px /100px 100px;
    grid-template-areas:
      "num1 num2"
      "country country";
    padding: 0 0.375rem;
    cursor: pointer;
    grid-gap: 1px;

    .country {
      grid-area: country;
      width: 200px;
      transition: all 0.07s ease;
    }
    .num1 {
      grid-area: num1;
      width: 100px;
    }
    .num2 {
      grid-area: num2;
      width: 100px;
    }

    .country,
    .num1,
    .num2 {
      overflow: hidden;
      display: inline-block;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .country.btn:hover {
      color: #858080;
    }
  }
  .zoom-btn1 {
    top: 22px;
  }
}

.clone {
  .table1-content-wrapper {
    color: $text;
    background-color: $table;

    header {
      grid-template: 20px 20px 20px /100px 100px;
      grid-template-areas:
        "h h"
        "h h"
        "col1 col2";
      align-items: center;
    }
    .second-table-content {
      position: absolute;
      top: 60px;
      height: 140px;
      width: 200px;
      text-align: start;
      overflow-y: auto;
    }
  }

  .second-table-content {
    top: 0px;
    height: 205px;
  }
  h2 {
    grid-area: h;
    margin: 10px auto;
    text-align: center;
    width: 220px;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .row {
    display: grid;
    grid-template: 20px 20px /100px 100px;
    grid-template-areas:
      "num1 num2"
      "country country";
    padding: 0 0.375rem;
    grid-gap: 1px;
  }
}
.arr-icon {
  transition: all 0.07s ease;
}

.arr-icon:hover {
  cursor: pointer;
  transform: scale(1.7);
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #bdbdbdde;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px $text;
}

.green {
  color: rgb(75, 148, 20);
}
