// List view
.list-view {

  background-color: #222222;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 322px;
  // margin-top: 110px;
  height: 70vh;
  margin-left: 5px;
}

.list-view-brand,
.list-view-total {
  background-color: #222222;
  border-bottom: 1px solid white;
  flex-shrink: 0;
  padding: 20px;
  height: 120px;
  border-radius: 50%;
}

.list-view-locations {
  border-bottom: 1px solid whitesmoke;
  flex-grow: 1;
  position: relative;
  overflow-y: auto;
}

.list-view-location {
  background-color: #222222;
  padding: 20px;
  cursor: pointer;

  &:first-child {
    margin-top: 20px;
  }

  &:last-child {
    margin-bottom: 20px;
  }

  &:not(:last-child) {
    border-bottom: 1px solid gray;
  }

  &:hover {
    background-color: black;
  }

  &.selected {
    background-color: #BDBDBD;
  }

  &.selected .title {
    color: red;
  }
}

.has-text-right {
  font-size: 30px;
  font-weight: bold;
  color: #dd0201;
  margin-top: -40px;
}
.title.is-6 {
  opacity: 0;
}
.title.is-7 {
  color: #bdbdbd;
}

.title.is-4 {
  color: #bdbdbd;
  font-size: 25px;
  text-align: center;
  line-height: 10px;
}

.table {
  color: #dd0201;
  font-size: 18px;
  font-weight: bold;
}

.table tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table td {
  padding: 0.5rem;
  border: none;
}
.fetch-message {
  color: #bdbdbd;
  font-size: 28px;
}

//marker
.marker-icon {
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
}

.marker-icon.pink {
    background-color: rgba(245, 21, 245, 0.5);
    border-color: rgb(245, 21, 245);
}

.marker-icon.purple {
    background-color: rgba(119, 5, 213, 0.5);
    border-color: rgb(119, 5, 213);
}

.marker-icon.red {
    background-color: rgba(224, 7, 7, 0.5);
    border-color: rgb(224, 7, 7);
}

//detatils
.details-view {
    background-color: white;
    position: absolute;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.15);
    padding: 20px;
    left: 50%;
    z-index: 520;
    transform: translateX(-50%);
    margin-top: 190px;
    border-radius: 20px;
}

 .title-details{
  font-size: 18px;
}

.details-view-content{
    width: 200px;
    height: 120px;
}
.details-view-close {
    font-size: 32px;
    line-height: 0.8;
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 22;
    cursor: pointer;
}

.table2{
  color:#222222;
  font-size: 25px;
}
.tr_table{
  display: flex;
  justify-content: space-between;
  align-items: center
}
.td_col{
  margin-top: -30px;
  line-height: 0px;
}
.td_count{
 font-size: 20px;
 font-weight: bold;
 color:#DD0201 ;
}
.title_details{
 color:#BDBDBD;
 margin-top: -10px;
 font-size: 18px;
}
